Include/
Lib/
Scripts/
__init__.py
timeout*
typing*
testing*
server*
sync.py
py.typed
local*
current_thread_executor*
compatibility*
easy_install*
_*
INSTALLER
LICENSE
METADATA
RECORD
WHEEL
top_level.txt
shortcuts*
config*
registry*
global_*
*-top_level
*.mo
*.po
formats*
./*